  <div id="footer" style="background-color:#f5f5f5;padding-top:25px;padding-bottom:25px;">
    <div class="container" style="border:0px solid red;">
    	<div class="row">
    		<div class="col">
            <p style="font-size:0.9em;color:#666;border-bottom:1px dotted #ccc;padding-bottom:15px;">
            	<strong>Copyright 2018 Geofolio Foundation</strong>
            </p>
    		</div>
    	</div>
      <div class="row align-items-center">
      	

       	<div class="col-sm-5 text-left" style="border-left:0px solid #ddd;border-right:0px solid #ddd;">

            <p style="font-size:0.9em;color:#888;">
            	Geofolio is a project by <a href="">Koko Alberti</a> and is built upon open data and software. Please see our <a href="">attribution</a> page for an extensive overview of acknowledgements, credits, and attributions.


            </p>
            <p style="font-size:0.9em;color:#888;margin-bottom:0;">
            	Contact us via <a href="">info@geofolio.org</a> for questions, comments, or feedback.
            </p>

            <!--
            <p style="font-size:0.9em;color:#666;">
            	<i>"Dicebat Bernardus Carnotensis nos esse quasi nanos gigantium humeris incidentes."</i>
            </p>-->

            
        </div>
      	<div class="col-sm-2 text-center">
			<img src="/static/gfx/logos/geofolio_colored.svg" style="width:40px;">
      	</div>
      	<div class="col-sm-5 text-center">


            	<a href="" id="attribution-quote">

            		<i>"If I have seen further it is by standing on the shoulders of Giants."</i> <br/>&mdash; Isaac Newton</a>
        </div>

      </div>
    </div>
  </div>