<!--

<div style="background-color:#fff;border-bottom:0px solid #aaa;">
<div class="container" style="text-align:left;">
	<img src="/static/gfx/geofolio-logo-horiz.svg" style="height:45px;margin-bottom:12px;margin-top:15px;margin-left:-3px;">
</div>
</div>
-->
<div id="nav-wrapper" style="background-color:#f5f5f5;padding-top:4px;">
<div class="container">
	<nav class="navbar navbar-expand-md navbar-light" style="padding-left:0;padding-right:0;background-color:#f5f5f5;">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="navbar-collapse collapse dual-collapse">
	    	<a href="/" class="navbar-brand"><img src="/static/gfx/geofolio-logo-horiz.svg" style="height:45px;margin-bottom:4px;margin-top:5px;"></a>
	        <!--
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item">
	                <a class="btn btn-success"  style="margin-left:0;font-size:0.85em;" href="#">Create New Region</a>
	            </li>
	        </ul>-->
	    
	    </div>
	    <div class="navbar-collapse collapse dual-collapse">
	        <ul class="navbar-nav ml-auto">
	        	<!--
	            <li class="nav-item">
	                <a class="nav-link" href="#">Features</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#">Pricing</a>
	            </li>
	        -->
	            <!--
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Dropdown link
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="#">Action</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>
		      </li>-->

	            <li class="nav-item">
	                <a class="nav-link" href="">Features</a>
	            </li>

	            <li class="nav-item">
	                <a class="nav-link" href="">Pricing</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="">About</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="">Sponsors</a>

	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="">Login</a>
	            </li>
	        </ul>
	    </div>
	</nav>
</div>
</div>